*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
}

#main-doc{
    padding: 1rem;
}

code{
    background-color: rgb(139, 230, 230);
}
.bold{
    font-weight: bold;
}

#navbar header{
    font-size: 2rem;
    margin-bottom: 1rem;
}

.link-wrapper .nav-link{
    display: block;
    margin: 0.5rem 0;
    padding: 0.5rem;
    font-size: 1.25rem;
    text-align: center;
    background-color: rgba(139, 230, 230,0.2);
    color: #000;
    text-decoration: none;
}
.link-wrapper .nav-link:hover{
    background-color:rgb(139, 230, 230) ;
}
.main-section{
    padding: 2rem 0 1rem;
}
.main-section header{
    font-size: 1.25rem;
    text-align: center;
    padding: 1rem;
    background-color: rgba(139, 230, 230,0.2);
    margin-bottom: 1rem;
}

@media(min-width: 768px){
    #main-doc{
        padding: 3rem 5rem;
    }
}

@media(min-width:1024px){
    #main-doc{
        position: relative;
    }
    #navbar{
        position: fixed;
        width: 25%;
    }
    section{
        width: 70%;
        margin-left: auto;
    }
}
